{%  extends "base.html" %}
{%block title%}Password reset confirm{%endblock%}


{% block content %}
<div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Enter your new password</h3>
                        </div>

                        <div class="form-floating mb-4">
                            {{form.new_password1}}
                            <label for="floatingPassword"> {{form.new_password1.label}}</label>
                        </div>
                        <div class="form-floating mb-4">
                            {{form.new_password2}}
                            <label for="floatingPassword">{{form.new_password2.label}}</label>
                        </div>

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Update password</button>
                        <a href="{% url 'account:login' %}">Sign
                            In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}